04. CONSOLA/CLICON_ConUni/xml-resources/web-service-references/WSConversionUnidades/wsdl/localhost_8080/WS_ConUni_SOAPJAVA_GR08/WSConversionUnidades.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.4.payara-p1 (FISH-10142-Metro-4.0.4-fa01c0b; 2025-07-11T17:44:37+0100) XMLWS-Impl/4.0.3 XMLWS-API/4.0.2 XMLB-Impl/4.0.5 XMLB-API/4.0.2 git-revision#fa01c0b. --><xs:schema xmlns:tns="http://ws.monster.edu.ec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.monster.edu.ec/">

<xs:element name="celsiusAFahrenheit" type="tns:celsiusAFahrenheit"/>

<xs:element name="celsiusAFahrenheitResponse" type="tns:celsiusAFahrenheitResponse"/>

<xs:element name="centimetrosAPulgadas" type="tns:centimetrosAPulgadas"/>

<xs:element name="centimetrosAPulgadasResponse" type="tns:centimetrosAPulgadasResponse"/>

<xs:element name="fahrenheitACelsius" type="tns:fahrenheitACelsius"/>

<xs:element name="fahrenheitACelsiusResponse" type="tns:fahrenheitACelsiusResponse"/>

<xs:element name="kilogramosALibras" type="tns:kilogramosALibras"/>

<xs:element name="kilogramosALibrasResponse" type="tns:kilogramosALibrasResponse"/>

<xs:element name="librasAKilogramos" type="tns:librasAKilogramos"/>

<xs:element name="librasAKilogramosResponse" type="tns:librasAKilogramosResponse"/>

<xs:element name="pulgadasACentimetros" type="tns:pulgadasACentimetros"/>

<xs:element name="pulgadasACentimetrosResponse" type="tns:pulgadasACentimetrosResponse"/>

<xs:complexType name="fahrenheitACelsius">
<xs:sequence>
<xs:element name="fahrenheit" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fahrenheitACelsiusResponse">
<xs:sequence>
<xs:element name="return" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="kilogramosALibras">
<xs:sequence>
<xs:element name="kilogramos" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="kilogramosALibrasResponse">
<xs:sequence>
<xs:element name="return" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="centimetrosAPulgadas">
<xs:sequence>
<xs:element name="centimetros" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="centimetrosAPulgadasResponse">
<xs:sequence>
<xs:element name="return" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="librasAKilogramos">
<xs:sequence>
<xs:element name="libras" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="librasAKilogramosResponse">
<xs:sequence>
<xs:element name="return" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pulgadasACentimetros">
<xs:sequence>
<xs:element name="pulgadas" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pulgadasACentimetrosResponse">
<xs:sequence>
<xs:element name="return" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="celsiusAFahrenheit">
<xs:sequence>
<xs:element name="celsius" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="celsiusAFahrenheitResponse">
<xs:sequence>
<xs:element name="return" type="xs:float"/>
</xs:sequence>
</xs:complexType>
</xs:schema>