05. CONSOLA/CLICON_ConUni/src/META-INF/wsdl/localhost_8080/WS_CONUNI_SOAPJAVA_GR08/WSConversionUnidades.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.4.payara-p1 (FISH-10142-Metro-4.0.4-fa01c0b; 2025-07-11T17:44:37+0100) XMLWS-Impl/4.0.3 XMLWS-API/4.0.2 XMLB-Impl/4.0.5 XMLB-API/4.0.2 git-revision#fa01c0b. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.4.payara-p1 (FISH-10142-Metro-4.0.4-fa01c0b; 2025-07-11T17:44:37+0100) XMLWS-Impl/4.0.3 XMLWS-API/4.0.2 XMLB-Impl/4.0.5 XMLB-API/4.0.2 git-revision#fa01c0b. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.monster.edu.ec/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.monster.edu.ec/" name="WSConversionUnidades">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.monster.edu.ec/" schemaLocation="http://localhost:8080/WS_ConUni_SOAPJAVA_GR08/WSConversionUnidades?xsd=1"/>
</xsd:schema>
</types>
<message name="pulgadasACentimetros">
<part name="parameters" element="tns:pulgadasACentimetros"/>
</message>
<message name="pulgadasACentimetrosResponse">
<part name="parameters" element="tns:pulgadasACentimetrosResponse"/>
</message>
<message name="centimetrosAPulgadas">
<part name="parameters" element="tns:centimetrosAPulgadas"/>
</message>
<message name="centimetrosAPulgadasResponse">
<part name="parameters" element="tns:centimetrosAPulgadasResponse"/>
</message>
<message name="fahrenheitACelsius">
<part name="parameters" element="tns:fahrenheitACelsius"/>
</message>
<message name="fahrenheitACelsiusResponse">
<part name="parameters" element="tns:fahrenheitACelsiusResponse"/>
</message>
<message name="celsiusAFahrenheit">
<part name="parameters" element="tns:celsiusAFahrenheit"/>
</message>
<message name="celsiusAFahrenheitResponse">
<part name="parameters" element="tns:celsiusAFahrenheitResponse"/>
</message>
<message name="kilogramosALibras">
<part name="parameters" element="tns:kilogramosALibras"/>
</message>
<message name="kilogramosALibrasResponse">
<part name="parameters" element="tns:kilogramosALibrasResponse"/>
</message>
<message name="librasAKilogramos">
<part name="parameters" element="tns:librasAKilogramos"/>
</message>
<message name="librasAKilogramosResponse">
<part name="parameters" element="tns:librasAKilogramosResponse"/>
</message>
<portType name="WSConversionUnidades">
<operation name="pulgadasACentimetros">
<input wsam:Action="http://ws.monster.edu.ec/WSConversionUnidades/pulgadasACentimetrosRequest" message="tns:pulgadasACentimetros"/>
<output wsam:Action="http://ws.monster.edu.ec/WSConversionUnidades/pulgadasACentimetrosResponse" message="tns:pulgadasACentimetrosResponse"/>
</operation>
<operation name="centimetrosAPulgadas">
<input wsam:Action="http://ws.monster.edu.ec/WSConversionUnidades/centimetrosAPulgadasRequest" message="tns:centimetrosAPulgadas"/>
<output wsam:Action="http://ws.monster.edu.ec/WSConversionUnidades/centimetrosAPulgadasResponse" message="tns:centimetrosAPulgadasResponse"/>
</operation>
<operation name="fahrenheitACelsius">
<input wsam:Action="http://ws.monster.edu.ec/WSConversionUnidades/fahrenheitACelsiusRequest" message="tns:fahrenheitACelsius"/>
<output wsam:Action="http://ws.monster.edu.ec/WSConversionUnidades/fahrenheitACelsiusResponse" message="tns:fahrenheitACelsiusResponse"/>
</operation>
<operation name="celsiusAFahrenheit">
<input wsam:Action="http://ws.monster.edu.ec/WSConversionUnidades/celsiusAFahrenheitRequest" message="tns:celsiusAFahrenheit"/>
<output wsam:Action="http://ws.monster.edu.ec/WSConversionUnidades/celsiusAFahrenheitResponse" message="tns:celsiusAFahrenheitResponse"/>
</operation>
<operation name="kilogramosALibras">
<input wsam:Action="http://ws.monster.edu.ec/WSConversionUnidades/kilogramosALibrasRequest" message="tns:kilogramosALibras"/>
<output wsam:Action="http://ws.monster.edu.ec/WSConversionUnidades/kilogramosALibrasResponse" message="tns:kilogramosALibrasResponse"/>
</operation>
<operation name="librasAKilogramos">
<input wsam:Action="http://ws.monster.edu.ec/WSConversionUnidades/librasAKilogramosRequest" message="tns:librasAKilogramos"/>
<output wsam:Action="http://ws.monster.edu.ec/WSConversionUnidades/librasAKilogramosResponse" message="tns:librasAKilogramosResponse"/>
</operation>
</portType>
<binding name="WSConversionUnidadesPortBinding" type="tns:WSConversionUnidades">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="pulgadasACentimetros">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="centimetrosAPulgadas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fahrenheitACelsius">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="celsiusAFahrenheit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="kilogramosALibras">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="librasAKilogramos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSConversionUnidades">
<port name="WSConversionUnidadesPort" binding="tns:WSConversionUnidadesPortBinding">
<soap:address location="http://localhost:8080/WS_ConUni_SOAPJAVA_GR08/WSConversionUnidades"/>
</port>
</service>
</definitions>